CS/ClientApp/Service References/ReportServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HostApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HostApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReportParameterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportParameterInfo" nillable="true" type="tns:ReportParameterInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportParameterInfo" nillable="true" type="tns:ArrayOfReportParameterInfo" />
  <xs:complexType name="ReportParameterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportParameterInfo" nillable="true" type="tns:ReportParameterInfo" />
</xs:schema>