CS/ClientApp/Service References/ReportServiceReference/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IReportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/ReportService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/ReportService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/ReportService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8001/ReportService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HostApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_GetReportNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportNames" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportLayout_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportLayout" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportLayout_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportLayoutResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportDocument" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetParametrizedReportDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParametrizedReportDocument" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetParametrizedReportDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParametrizedReportDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="GetReportNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetReportNames" message="tns:IReportService_GetReportNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetReportNamesResponse" message="tns:IReportService_GetReportNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportLayout">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetReportLayout" message="tns:IReportService_GetReportLayout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetReportLayoutResponse" message="tns:IReportService_GetReportLayout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetReportDocument" message="tns:IReportService_GetReportDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetReportDocumentResponse" message="tns:IReportService_GetReportDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParametrizedReportDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetParametrizedReportDocument" message="tns:IReportService_GetParametrizedReportDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetParametrizedReportDocumentResponse" message="tns:IReportService_GetParametrizedReportDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReportNames">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetReportNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportLayout">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetReportLayout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDocument">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetReportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParametrizedReportDocument">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetParametrizedReportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IReportService" type="tns:IReportService">
    <wsp:PolicyReference URI="#NetTcpBinding_IReportService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetReportNames">
      <soap12:operation soapAction="http://tempuri.org/IReportService/GetReportNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportLayout">
      <soap12:operation soapAction="http://tempuri.org/IReportService/GetReportLayout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDocument">
      <soap12:operation soapAction="http://tempuri.org/IReportService/GetReportDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParametrizedReportDocument">
      <soap12:operation soapAction="http://tempuri.org/IReportService/GetParametrizedReportDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://localhost:8001/ReportService/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IReportService" binding="tns:NetTcpBinding_IReportService">
      <soap12:address location="net.tcp://localhost:8002/ReportService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8002/ReportService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CORP\kovalenko</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>